body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: #f7f7f7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header {
  padding: 15px 0;
  background: -webkit-gradient(linear, right top, left top, from(#00EAD3), color-stop(70%, #FFCC29));
  background: linear-gradient(right, #00EAD3, #FFCC29 70%);
}

.header .info {
  width: 40%;
  margin-left: auto;
}

.header .info li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.header .info li a {
  color: #fff;
  text-decoration: none;
}

.header .info li a:hover {
  color: #EEE;
}

.header .notifications li {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}

.header .notifications li:hover i {
  color: #EEE;
}

.header .notifications li i {
  margin-left: 5px;
}

.header .notifications li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.nav .nav-img {
  width: 15%;
  margin-left: auto;
}

.nav .nav-img img {
  width: 100%;
}

.nav .navbar {
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav .navbar li {
  display: inline-block;
  height: 100%;
}

.nav .navbar li a {
  color: #222;
  padding: 50% 10px;
  font-weight: bold;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav .navbar li a:hover {
  color: #FFCC29;
}

.nav .navbar li a:hover .sub-menu {
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav .navbar li a.active {
  color: #da0037;
}

.nav .navbar li a .sub-menu {
  position: absolute;
  right: -300px;
  top: 91px;
  z-index: 5;
  width: 98.7vw;
  background-color: rgba(255, 255, 255, 0.9);
  height: 500px;
  display: none;
}

.nav .navbar li a .sub-menu .all-categories {
  width: 100%;
  height: 100%;
}

.nav .navbar li a .sub-menu .all-categories .inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navbar li a .sub-menu .all-categories .inner .cat {
  width: calc(95% / 3);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navbar li a .sub-menu .all-categories .inner .cat .cat-items {
  height: 49%;
  padding: 50px 20px;
  background-color: rosybrown;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navbar li a .sub-menu .all-categories .inner .cat .cat-items img {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav .navbar li a .sub-menu .all-categories .inner .cat .cat-items .items-links {
  width: 48%;
}

.nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .search i {
  margin-right: 20px;
  font-size: 25px;
  font-weight: lighter;
  color: #5e1d0f;
  cursor: pointer;
}

.nav .search i:first-child {
  margin: 0;
}

.slider {
  width: 100%;
  height: 300px;
  background-color: #FFCC29;
}

.slider .swiper-container {
  width: 100%;
  height: 100%;
}

.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
  color: #111;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 50%;
}

.slider .swiper-button-next::after,
.slider .swiper-button-prev::after {
  font-size: 25px;
}

.catagories {
  width: 100%;
  height: 230px;
  padding: 20px 0;
}

.catagories a {
  margin-right: 5px;
}

.catagories a:first-child {
  margin: 0;
}

.ads {
  height: 300px;
  margin-top: 50px;
}

.ads .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ads .container .ad {
  width: 48%;
  height: 100%;
  background-color: #ffc107;
  border-radius: 5px;
}

.ads .container .ad img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.ads .container .ad img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.best-seller {
  height: 400px;
  margin-top: 100px;
}

.best-seller .title {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  padding: 10px 30px;
  background: -webkit-gradient(linear, right top, left top, from(#00EAD3), color-stop(70%, #FFCC29));
  background: linear-gradient(right, #00EAD3, #FFCC29 70%);
  color: #222;
  font-size: 22px;
  position: relative;
}

.best-seller .title a {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #222;
}

.best-seller .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-seller .product {
  width: calc(95% / 5);
  height: 95%;
  background-color: #FFF;
  text-align: center;
  border-radius: 5px;
}

.best-seller .product:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.best-seller .product a {
  color: #222;
  text-decoration: none;
}

.best-seller .product img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-seller .product h4 {
  margin-top: 10px;
}

.best-seller .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.best-seller .product .price .old-price {
  margin-left: 10px;
  font-size: 15px;
  color: #999;
  text-decoration: line-through;
}

.best-seller .product span {
  font-size: 18px;
  color: #F88F01;
  margin-top: 20px;
  display: block;
}

.ads-2 {
  margin-top: 100px;
  border-radius: 5px;
}

.ads-2 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.small-products {
  height: 300px;
  margin-top: 80px;
}

.small-products .title {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  padding: 10px 30px;
  background: -webkit-gradient(linear, right top, left top, from(#00EAD3), color-stop(70%, #FFCC29));
  background: linear-gradient(right, #00EAD3, #FFCC29 70%);
  color: #222;
  font-size: 22px;
  position: relative;
}

.small-products .title a {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #222;
}

.small-products .all-small-products {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-products .all-small-products .product {
  width: calc(95% / 6);
  height: 95%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
}

.small-products .all-small-products .product:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.small-products .all-small-products .product a {
  color: #222;
  text-decoration: none;
}

.small-products .all-small-products .product img {
  max-width: 55%;
  height: 55%;
}

.small-products .all-small-products .product h4 {
  margin-top: 10px;
}

.small-products .all-small-products .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.small-products .all-small-products .product .price .old-price {
  margin-left: 10px;
  font-size: 15px;
  color: #999;
  text-decoration: line-through;
}

.small-products .all-small-products .product span {
  font-size: 18px;
  color: #F88F01;
  margin-top: 20px;
  display: block;
}

.furniture {
  min-height: 300px;
  margin-top: 100px;
}

.furniture .title {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  padding: 10px 30px;
  background: -webkit-gradient(linear, right top, left top, from(#00EAD3), color-stop(70%, #FFCC29));
  background: linear-gradient(right, #00EAD3, #FFCC29 70%);
  color: #222;
  font-size: 22px;
  position: relative;
}

.furniture .title a {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #222;
}

.furniture .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.furniture .product {
  width: calc(98% / 3);
  height: 100%;
  margin-bottom: 50px;
  background-color: #FFF;
  text-align: center;
  border-radius: 5px;
}

.furniture .product:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.furniture .product a {
  color: #222;
  text-decoration: none;
}

.furniture .product img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.furniture .product h4 {
  margin-top: 10px;
}

.furniture .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.furniture .product .price .old-price {
  margin-left: 10px;
  font-size: 15px;
  color: #999;
  text-decoration: line-through;
}

.furniture .product span {
  font-size: 18px;
  color: #F88F01;
  margin-top: 20px;
  display: block;
}

.footer {
  min-height: 350px;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
}

.footer .container {
  height: 90%;
}

@media screen and (max-width: 576px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .container .footer-info {
  width: 30%;
}

.footer .container .footer-info .logo {
  width: 80%;
  margin-bottom: 20px;
}

.footer .container .footer-info .logo img {
  width: 100%;
  opacity: .9;
}

@media screen and (max-width: 576px) {
  .footer .container .footer-info {
    width: 100%;
  }
}

.footer .container .footer-info h3 {
  color: #efefef;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .footer .container .footer-info h3 {
    font-size: 18px;
  }
}

.footer .container .footer-info h3 span {
  color: #FFCC29;
  margin-left: 10px;
}

.footer .container .footer-info p {
  color: #999;
  line-height: 1.7;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .footer .container .footer-info p {
    font-size: 13px;
  }
}

.footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 100%;
  margin-right: auto;
}

@media screen and (max-width: 576px) {
  .footer .container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.footer .container .links .classes {
  width: calc(80% / 3);
  padding-top: 30px;
}

@media screen and (max-width: 576px) {
  .footer .container .links .classes {
    width: 100%;
  }
}

.footer .container .links .classes h4 {
  color: #efefef;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}

.footer .container .links .classes h4::after {
  content: '';
  width: 40%;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFCC29;
}

.footer .container .links .classes a {
  display: block;
  color: #CCC;
  font-size: 19px;
  margin-bottom: 15px;
}

.footer .container .links .classes a:hover {
  color: #E7C98E;
}

.footer .container .links .classes a i {
  margin-left: 5px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #191919;
}

footer p {
  color: #777;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */